@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: #8b0000;
  background: linear-gradient(
    90deg,
    rgba(139, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 139, 1) 100%
  );
  color: #fff;
  font-family: "Press Start 2P", system-ui;
}

.message {
  margin: 5em 0 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
}

.computer img,
.player img {
  width: 75%;
}

.shakeComputer {
  animation: shakeComputer 0.8s linear;
}

.shakePlayer {
  animation: shakePlayer 0.8s linear;
}

.points {
  margin: 2em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.computerPoints {
  margin-left: 3em;
}

.playerPoints {
  margin-right: 3em;
}

.options {
  margin-top: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options button {
  background: none;
  color: #fff;
  font-family: "Press Start 2P", system-ui;
  border: none;
  padding: 1em 2em;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;
}

.options button:hover {
  background-color: #fff;
  color: #000;
}

@keyframes shakeComputer {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shakePlayer {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
